---
import PageHero from "../shared/PageHero.astro";
import heroImage from "../../assets/banner.png";
---

<section class="w-full overflow-hidden bg-dark">
  <PageHero
    title="About"
    image={heroImage}
    imageClass="object-contain object-center"
    heroClass="min-h-[42vh] md:min-h-[48vh]"
    overlayClass="bg-gradient-to-b from-dark/35 via-dark/55 to-dark/90"
  />
  <div class="mx-auto max-w-7xl px-6 pb-14 pt-8 text-center md:pb-20">
    <p class="mx-auto max-w-xl text-lg text-white/80 md:text-xl">
      Science-based training &amp; nutrition for lasting transformation
    </p>
  </div>
</section>
